html,
body {
    height: 100%;
    overflow: hidden;
}

button {
    width: 100%;
}

#example-select {
    width: 100%;
    height: 3em;
    text-align: center;
    border-radius: 0;
}

#example-iframe-container {
    position: absolute;
    top: 3em;
    left: 0;
    bottom: 0;
    right: 0;
}

#example-iframe {
    width: 100%;
    height: 100%;
    border: none;
}